@layer global {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Hanken Grotesk", sans-serif;
    height: 100dvh;
    background-color: var(--clr-blue-50);
  }
  button {
    font-family: inherit;
    cursor: pointer;
  }
}

@layer variables {
  :root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-navy-950: #303b59;
    --clr-navy-200: #cac9ff;
    --clr-navy-50: #ecf2ff;
    --clr-blue-800: #1125d6;
    --clr-blue-50: #f3f5fd;
    --clr-yellow-400: #ffb21e;
    --clr-yellow-50: #fffbf4;
    --clr-red-400: #ff5555;
    --clr-red-50: #fff6f6;
    --clr-green-500: #00bb8f;
    --clr-green-50: #f2fcf9;

    --gradient-1: linear-gradient(#4d21c9, #2521c9);
    --gradient-2: linear-gradient(to bottom, #7755ff, #2f2ce9);
  }
}
@layer utility-classes {
  .container {
    width: min(100%, 130rem);
    margin: 0 auto;
    height: 100dvh;
  }
  .txt-1 {
    font-size: clamp(5.6rem, 6.4vw, 7.2rem);
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 800;
  }
  .txt-2 {
    font-size: clamp(2.4rem, 2.8vw, 3.2rem);
    line-height: 1.3;
    letter-spacing: 0px;
    font-weight: 600;
  }
  .txt-3 {
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    line-height: 1.3;
    letter-spacing: 0px;
    font-weight: 600;
  }
  .txt-4-md {
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    line-height: 1.3;
    letter-spacing: 0px;
    font-weight: 500;
  }
  .txt-4-bold {
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    line-height: 1.3;
    font-weight: bold;
    letter-spacing: 0px;
  }
  .flex {
    display: flex;
  }
  .flex-center {
    align-items: center;
    justify-content: center;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .mb-8 {
    margin-bottom: 8px;
  }
}

@layer result {
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: var(--clr-white);
  }
  .result-header {
    color: var(--clr-navy-200);
  }
  .result-wrap {
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 0;
    background: var(--gradient-2);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }
  .result-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 260px;
    align-items: center;
  }
  .result-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;

    border-radius: 50%;

    background: linear-gradient(to bottom, #4d21c9, #4434f100);
  }
  .result-score span {
    color: var(--clr-navy-200);
  }
  footer p {
    color: var(--clr-navy-200);
  }
  .summary-wrap {
    background-color: var(--clr-white);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .summary-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .summary-li {
    --_bg-color: var(--bg-color, pink);
    --_color: var(--color, pink);
    color: var(--_color);
    background-color: var(--_bg-color);
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    padding: 1.6rem 1.2rem;
  }
  .summary-li img {
    margin-right: 1rem;
  }
  .summary-li.reaction {
    --color: var(--clr-red-400);
    --bg-color: var(--clr-red-50);
  }
  .summary-li.memory {
    --bg-color: var(--clr-yellow-50);
    --color: var(--clr-yellow-400);
  }
  .summary-li.verbal {
    --bg-color: var(--clr-green-50);
    --color: var(--clr-green-500);
  }
  .summary-li.visual {
    --bg-color: var(--clr-blue-50);
    --color: var(--clr-blue-800);
  }

  .summary-count {
    color: var(--clr-navy-950);
  }
  .faded {
    opacity: 50%;
  }
  .btn.continue {
    border-radius: 999px;
    border: none;
    background-color: var(--clr-navy-950);
    color: var(--clr-white);
    padding: 1.4rem 0;
    width: 100%;
    transition: background 0.3s ease;
  }
  .btn.continue {
    background-color: var(--clr-navy-950);
    transition: background 0.3s ease;
  }
  .btn:hover {
    background: #46506b; /* o cualquier otro color */
  }
}

@layer medias {
  @media (width >= 768px) {
    .result-container {
      grid-template-columns: 1fr 1fr;
      border-radius: 32px;
      box-shadow: 2px 30px 24px 1px rgba(68, 108, 236, 0.15);
    }
    .result-wrap {
      border-radius: 32px;
    }
    .result-score {
      width: 200px;
      height: 200px;
    }
    .result-content {
      justify-content: space-evenly;
      height: 100%;
    }
    .summary-wrap {
      border-radius: 32px;
      padding: 4rem clamp(2.4rem, 3vw, 4rem);
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: min(90%, 80rem);
    }
  }
}
